<div class="main bg-dark">
    <div class="todoReq bg-dark">
        <h1 class="text-white p-2 m-3">
            Welcome to <strong class="text-danger">TODO</strong> Application
        </h1>
        <div class="badge">
            <button type="button" class="btn btn-success position-relative m-3">
                Complete
                <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >
                    <%= completed %>
                    <span class="visually-hidden">unread messages</span>
                </span>
            </button>
            <button type="button" class="btn btn-warning position-relative m-3">
                Remain
                <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >
                    <%= remained %>
                    <span class="visually-hidden">unread messages</span>
                </span>
            </button>
        </div>
        <!-- ----------------------------Form -->
        <form
            action="/"
            method="post"
            enctype="application/x-www-form-urlencoded"
            autocomplete="off"
        >
            <div class="form-floating mb-3 mt-3">
                <input
                    accesskey="i"
                    type="text"
                    class="form-control"
                    id="task"
                    placeholder="New Task"
                    name="text"
                />
                <label for="task">New Task</label>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
    <div class="arrow">
        <i class="fa fa-arrow-right arrowRight"></i>
    </div>
    <!-- --------------------------------Tasks -->
    <div class="todoRes text-bg-secondary">
        <% if (readData.length > 0) { %>
            <% for (let task of readData ) { %>
                <div class="alert alert-<%= task.completed ? "danger stroke" : "primary" %> m-3 tasks" role="alert">
                    <div class="task-text m-1 p-1"><mark class="p-2 rounded-1 mark"><%= task.text %></mark>
                        <br><hr>
                        <strong>CreatedAt : </strong> <em><%= task.createdAt %> </em>
                    </div>
                    <div class="task-handle m-1 p-1">
                        <a class="<%= task.completed ? "disactive" : "active" %>" href="/complete/<%= task.id %>">
                            <i class="fa fa-check mx-2 p-1 text-success"></i>
                        </a>
                        <a href="/delete/<%= task.id %>">
                            <i class="fa fa-times mx-2 p-1 text-danger"></i>
                        </a>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <div class="alert alert-success m-5 no-task" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>
                    You have completed all the tasks, if you have new work to do, we
                    will be happy to help you manage them.
                </p>
                <hr />
                <p class="mb-0">
                    With TODO, we are always with you in handling your work.
                </p>
            </div>
        <% } %>
    </div>
</div>
